.navbar-nav .nav-link {
    color: white !important;
    font-weight: 500;
}
.navbar-nav .nav-link:hover {
    color: #fdd835 !important;
}
.product-item:hover{
    border: 2px double black;
    border-radius: 10px;
}
